<div class="row" id="registration_form">
  <div class="col-md-6 col-md-offset-2">
    <h3>Регистрация юридического лица</h3>
    <%= bootstrap_form_for(resource, as: resource_name,  url: registration_path(resource_name), layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" ) do |f| %>
        <%= f.hidden_field :registration, value: 'Corporate' %>
        <%= devise_error_messages! %>
          <%= f.fields_for :client do |client| %>
              <%= client.text_field :mobile, class: "form-control corporate_form_control", autofocus: true, placeholder: "Mobile", label: "Номер моб.телефона" %>
              <%= client.text_field :country, class: "form-control corporate_form_control", placeholder: "Country" %>
              <%= client.email_field :email, class: "corporate_form_control", placeholder: "Email"%>
              <%= f.fields_for :corporate do |entity| %>
                    <%= entity.text_field :registration_number, class: "corporate_form_control", placeholder: "Registration_number" %>
                    <%= entity.text_field :in, class: "corporate_form_control", placeholder: "INN" %>
                    <div class='form-group' >
                    <%= entity.label :Passport, class: 'form-label' %>
                    <%= entity.file_field :image, class: 'form-control image_form_control', hide_label: true, style: 'col-sm-8' %>
                    </div>
              <% end %>
              <%= client.password_field :password, class: "corporate_form_control", autocomplete: "off", placeholder: "Password" %>
              <%= client.password_field :password_confirmation, class: "corporate_form_control", autocomplete: "off", placeholder: "Password_confirmation" %>
            <h4>Перед регистрацией ознакомтесь с лицензионным соглашением</h4>
            <h4><%= link_to 'Лицензионное соглашение', show_licence_path, target: '_blank' %></h4>
            <div class="actions" id="registr">
              <%= client.submit "Зарегистрироваться", class: "sign_up_btn"%>
            </div>
          <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  // $('#new_client').bootstrapValidator({
  //   container: '#messages',
  //   feedbackIcons: {
  //       valid: 'glyphicon glyphicon-ok',
  //       invalid: 'glyphicon glyphicon-remove',
  //       validating: 'glyphicon glyphicon-refresh'
  //   },
  //   fields: {
  //       "client[client][mobile]": {
  //           validators: {
  //               notEmpty: {
  //                   message: 'The full name is required and cannot be empty'
  //               }
  //           }
  //       },
  //       "client[client][country]": {
  //           validators: {
  //               notEmpty: {
  //                   message: 'The full name is required and cannot be empty'
  //               }
  //           }
  //       }
  //   },
  // }).on('success.form.bv', function(event) {
  //   form_validated = true;
  //   console.log('success.form.bv')
  //   return false;
  // }).on('success.validator.bv', function(event) {
  //   console.log('success.validator.bv');
  //   return false;
  // });
</script>