<div class="container">
  <div id="hiding">
    <div class="col-md-5">
      <div class="row registration_form_image_area" id="registration_form_image_area">
        <%= image_tag "wallet.png" %>
      </div>
    </div>

    <div class="col-md-6 move" >
      <div>
        <input type="radio" name="regtype" value="fiz" id="fizik">Физическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про физ лицо</div>
        <input type="radio" name="regtype" value="jur" id="jurik">Юридическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про юр лицо</div>
        <div class="actions">
          <button name="continue" value="continue" id="show" class="registration_form_btn">Продолжить</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="msform">
  <div id="Individual_registration_block">
    <div class="container" >
      <ul id="progressbar">
        <li class="active">Номер Телефона</li>
        <li>Персональные данные</li>
        <li>Потверждение</li>
        <li>Завершение</li>
      </ul>
      <%= form_for(resource, as: resource_name,  url: registration_path(resource_name)) do |f| %>
          <%= f.hidden_field :registration, value: 'Individual' %>
          <%= devise_error_messages! %>
          <fieldset>
            <h2 class="fs-title">Введите Номер Телефона</h2>
            <%= f.fields_for :client do |client| %>
            <%= client.text_field :mobile, placeholder: "+" %>
            <%= client.text_field :country, placeholder: "country" %>
            <%end%>
            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>

          <fieldset>
            <h2 class="fs-title">Введите </h2>
            <div class="individual_form_registration">
              <%= f.fields_for :client do |client| %>
              <%= client.label :email, class: ""%><br />
              <%= client.email_field :email, class: "individual_form_control", autofocus: true%>
              <%end%>
            </div>
            <%= f.fields_for :individual do |entity| %>
            <div class="individual_form_registration">
              <%= entity.label :first_name %><br/>
              <%= entity.text_field :first_name, class: "individual_form_control" %>
            </div>
            <div class="individual_form_registration">
              <%= entity.label :last_name %><br/>
              <%= entity.text_field :last_name, class: "individual_form_control" %>
            </div>
            <div class="individual_form_registration">
              <%= entity.label :in, 'INN' %><br/>
              <%= entity.text_field :in, class: "individual_form_control" %>
            </div>
            <div class="individual_form_registration">
              <%= entity.label :dob, 'Date of birth' %><br/>
              <%= entity.date_field :dob, "data-provide" => 'datepicker', class: "individual_form_control" %>
            </div>
            <% end %>
            <%= f.fields_for :client do |client| %>
            <div class="individual_form_registration">
            <%= client.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= client.password_field :password, class: "individual_form_control", autocomplete: "off" %>
            </div>
            <div class="individual_form_registration">
            <%= client.label :password_confirmation %><br />
            <%= client.password_field :password_confirmation, autocomplete: "off" %><br/>
            </div>
            <div class="actions">
              <%= client.submit "Sign up", class: "sign_up_btn"%>
            </div>
            <% end %>
          </fieldset>
          <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
  <div id="Corporate_registration_block">
  <div class="container">
    <ul id="progressbar">
      <li class="active">Номер Телефона</li>
      <li>Персональные данные</li>
      <li>Потверждение</li>
      <li>Завершение</li>
    </ul>
    <%= form_for(resource, as: resource_name,  url: registration_path(resource_name)) do |f| %>
        <%= f.hidden_field :registration, value: 'Corporate' %>
        <%= devise_error_messages! %>
        <fieldset>
          <h2 class="fs-title">Введите Номер Телефона</h2>
          <%= f.fields_for :client do |client| %>
              <%= client.text_field :mobile, placeholder: "+" %>
              <%= client.text_field :country, placeholder: "country" %>
          <%end%>
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
          <h2 class="fs-title">Введите </h2>
          <div class="corporate_form_registration">
            <%= f.fields_for :client do |client| %>
                <%= client.label :email, class: ""%><br />
                <%= client.email_field :email, class: "corporate_form_control", autofocus: true%>
            <%end%>
          </div>
          <%= f.fields_for :corporate do |entity| %>
              <div class="corporate_form_registration">
                <%= entity.label :registration_number %><br />
                <%= entity.text_field :registration_number, class: "corporate_form_control" %>
              </div>
              <div class="corporate_form_registration">
                <%= entity.label :address %><br />
                <%= entity.text_field :address, class: "corporate_form_control" %>
              </div>
              <div class="corporate_form_registration">
                <%= entity.label :in, 'INN' %><br />
                <%= entity.text_field :in, class: "corporate_form_control" %>
              </div>
          <% end %>
          <%= f.fields_for :client do |client| %>
          <div class="corporate_form_registration">
                <%= client.label :password %>

                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br/>

                <%= client.password_field :password, class: "corporate_form_control", autocomplete: "off" %>
          </div>
          <div class="corporate_form_registration">
                  <%= client.label :password_confirmation %><br/>
                  <%= client.password_field :password_confirmation, autocomplete: "off" %><br/>
                </div>
          <div class="actions">
                  <%= client.submit "Sign up", class: "sign_up_btn"%>
                </div>
            <% end %>
        </fieldset>
    <% end %>
  </div>
</div>
</div>
