<div class="container">
  <div id="hiding">
    <div class="col-md-5">
      <div class="row registration_form_image_area" id="registration_form_image_area">
        <%= image_tag "wallet.png" %>
      </div>
    </div>

    <div class="col-md-6 move" >
      <div>
        <input type="radio" name="regtype" value="fiz" id="fizik">Физическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про физ лицо</div>
        <input type="radio" name="regtype" value="jur" id="jurik">Юридическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про юр лицо</div>
        <div class="actions">
          <button name="continue" value="continue" id="show" class="registration_form_btn">Продолжить</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="msform">
<div id="Individual_registration_block">
  <div class="container" >
    <!--<form >-->

    <ul id="progressbar">
      <li class="active">Номер Телефона</li>
      <li>Персональные данные</li>
      <li>Потверждение</li>
      <li>Завершение</li>
    </ul>
    <%= form_for(resource, as: resource_name,  url: registration_path(resource_name)) do |f| %>
        <%= f.hidden_field :registration_type, value: 'Individual' %>
        <%= devise_error_messages! %>
        <fieldset>
          <h2 class="fs-title">Введите Номер Телефона</h2>

          <%= f.text_field :mobile, placeholder: "+" %>

          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
          <h2 class="fs-title">Введите </h2>
          <div class="individual_form_registration">
            <%= f.label :email, class: ""%><br />
            <%= f.email_field :email, class: "individual_form_control", autofocus: true%>
          </div>
          <!-- <div class="individual_entity_form"> -->
          <%= f.fields_for :entity_attributes do |entity| %>
          <div class="individual_form_registration"> 
            <%= entity.label :first_name %><br />
            <%= entity.text_field :first_name, class: "individual_form_control" %>
          </div>
          <div class="individual_form_registration">  
            <%= entity.label :last_name %><br />
            <%= entity.text_field :last_name, class: "individual_form_control" %>
          </div>
          <div class="individual_form_registration">  
            <%= entity.label :inn, 'INN' %><br />
            <%= entity.text_field :inn, class: "individual_form_control" %>
          </div>
          <div class="individual_form_registration">  
            <%= entity.label :dob, 'Date of birth' %><br />
            <%= entity.date_field :dob, "data-provide" => 'datepicker', class: "individual_form_control" %>
           
          <% end %>
          </div> 
          <!-- </div> -->

          <div class="individual_form_registration">
          <%= f.label :password %>

          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "individual_form_control", autocomplete: "off" %>
          </div>

          <div class="individual_form_registration">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %><br/>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "sign_up_btn"%>
          </div>
        </fieldset>


        <%= render "devise/shared/links" %>

    <% end %>
    <!--</form>-->
  </div>
</div>



<div id="Corporate_registration_block">
  <div class="container">
    <form >
      <ul id="progressbar">
        <li class="active">Номер Контакта</li>
        <li>Потверждение</li>
        <li>Завершение</li>
      </ul>
      <fieldset>
        <h2 class="fs-title">Номер Контракта</h2>
        <input type="text" name="" placeholder="Номер телефона" />
        <input type="text" name="" placeholder="ИНН" />
        <input type="text" name="" placeholder="Скан паспорта" />
        <input type="text" name="" placeholder="Регистрационный номер" />
        <input type="text" name="" placeholder="Страна" />
        <input type="text" name="" placeholder="E-mail" />
        <input type="text" name="" placeholder="пароль" />
        <input type="text" name="" placeholder="потверждение пароля" />
        <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Подтверждение</h2>
        <input type="text" name="" placeholder="Введите код" />
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Завершение</h2>
        <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
      </fieldset>
    </form>
  </div>
