<div class="container">
  <div id="hiding">
    <div class="col-md-5">
      <div class="row registration_form_image_area" id="registration_form_image_area">
        <%= image_tag "wallet.png" %>
      </div>
    </div>

    <div class="col-md-6 move" >
      <div>
        <input type="radio" name="regtype" value="fiz" id="fizik">Физическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про физ лицо</div>
        <input type="radio" name="regtype" value="jur" id="jurik">Юридическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про юр лицо</div>
        <div class="actions">
          <button name="continue" value="continue" id="show" class="registration_form_btn">Продолжить</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="msform">
  <div id="Individual_registration_block">
    <div class="container" >
      <ul id="progressbar">
        <li class="active">Номер Телефона</li>
        <li>Персональные данные</li>
        <li>Потверждение</li>
        <li>Завершение</li>
      </ul>
      <%= form_for(resource, as: resource_name,  url: registration_path(resource_name)) do |f| %>
          <%= f.hidden_field :registration, value: 'Individual' %>
          <%= devise_error_messages! %>
          <fieldset>
            <h2 class="fs-title">Введите Номер Телефона</h2>
            <%= f.fields_for :client do |client| %>
            <%= client.text_field :mobile, placeholder: "Mobile" %>
            <%= client.text_field :country, placeholder: "Country" %>
            <%end%>
            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>

          <fieldset>
            <h2 class="fs-title">Введите </h2>
            <div class="individual_form_registration">
              <%= f.fields_for :client do |client| %>
              <%= client.email_field :email, class: "individual_form_control", autofocus: true, placeholder: "Email" %>
              <%end%>
            </div>
            <%= f.fields_for :individual do |entity| %>
            <div class="individual_form_registration">
              <%= entity.text_field :first_name, class: "individual_form_control", placeholder: "First_name" %>
            </div>
            <div class="individual_form_registration">
              <%= entity.text_field :last_name, class: "individual_form_control", placeholder: "Last_name" %>
            </div>
            <div class="individual_form_registration">
              <%= entity.text_field :in, class: "individual_form_control", placeholder: "INN" %>
            </div>
            <div class="individual_form_registration">
              <%= entity.label :Date_of_birth %>
              <%= entity.date_field :dob, "data-provide" => 'datepicker', class: "individual_form_control"%>
            </div>
            <div class="image_field_registration">
                <%= entity.label :Passport %><br>
                <%= entity.file_field :image, class: 'image_form_control' %>
            </div>
            <% end %>
            <%= f.fields_for :client do |client| %>
            <div class="individual_form_registration">
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= client.password_field :password, class: "individual_form_control", autocomplete: "off", placeholder: "Password" %>
            </div>
            <div class="individual_form_registration">
            <%= client.password_field :password_confirmation, autocomplete: "off", placeholder: "Password_confirmation" %>
            <div>
              <%= link_to 'Лицензионное соглашение', show_licence_path, target: '_blank' %>
            </div>
            <h6>Нажимая "Next" вы соглашаетесь с условиями лицензионного соглашения</h6>
            </div>
                <input type="button" name="next" onclick="testTimer (30)" class="next action-button" value="Next" />
          </fieldset>

            <fieldset>
            <h2 class="fs-title">Подтверждение</h2>
            <h3 class="fs-subtitle">Проверка ОТП</h3>
            <p id = "time"></p>
            <p id = "rezult"></p>
            <p>Осталось попыток "5"</p>
            <input type="text" name="" placeholder="Введите код" />
            <input type="button" id="bot" name="otp" onclick="testTimer (10)" value="Получить ОТП повторно"/>
            <input type="button" name="otp" value="Подтвердить"/>
            <div class="actions">
            <%= client.submit "Sign up", class: "sign_up_btn"%>
            </div>
            <% end %>
            </fieldset>
          <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
  <div id="Corporate_registration_block">
  <div class="container">
    <ul id="progressbar">
      <li class="active">Номер Телефона</li>
      <li>Персональные данные</li>
      <li>Потверждение</li>
      <li>Завершение</li>
    </ul>
    <%= form_for(resource, as: resource_name,  url: registration_path(resource_name)) do |f| %>
        <%= f.hidden_field :registration, value: 'Corporate' %>
        <%= devise_error_messages! %>
        <fieldset>
          <h2 class="fs-title">Введите Номер Телефона</h2>
          <%= f.fields_for :client do |client| %>
              <%= client.text_field :mobile, placeholder: "Mobile" %>
              <%= client.text_field :country, placeholder: "Country" %>
          <%end%>
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
          <h2 class="fs-title">Введите </h2>
          <div class="corporate_form_registration">
            <%= f.fields_for :client do |client| %>
                <%= client.email_field :email, class: "corporate_form_control", autofocus: true, placeholder: "Email"%>
            <%end%>
          </div>
          <%= f.fields_for :corporate do |entity| %>
              <div class="corporate_form_registration">
                <%= entity.text_field :registration_number, class: "corporate_form_control", placeholder: "Registration_number" %>
              </div>
              <div class="corporate_form_registration">
                <%= entity.text_field :address, class: "corporate_form_control", placeholder: "Address" %>
              </div>
              <div class="corporate_form_registration">
                <%= entity.text_field :in, class: "corporate_form_control", placeholder: "INN" %>
              </div>
              <div class="image_field_registration">
                <%= entity.label :Passport %><br>
                <%= entity.file_field :image, class: 'image_form_control' %>
              </div>              
          <% end %>
          <%= f.fields_for :client do |client| %>
            <div class="corporate_form_registration">
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>

              <%= client.password_field :password, class: "corporate_form_control", autocomplete: "off", placeholder: "Password" %>
            </div>
            <div class="corporate_form_registration">
              <%= client.password_field :password_confirmation, autocomplete: "off", placeholder: "Password_confirmation" %>
            </div>
              <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

          <fieldset>
          <h2 class="fs-title">Подтверждение</h2>
          <h3 class="fs-subtitle">Проверка ОТП</h3>
          <input type="text" name="" placeholder="Введите код" />
          <input type="button" id="bot" name="otp" value="Отправить повторно" />
          <div class="actions">
          <%= client.submit "Sign up", class: "sign_up_btn"%>
          </div>
          <% end %>
  <% end %>
    </fieldset>
  </div>
</div>
</div>
