<div class="individual-sidebar">
  <%= link_to "Покупка электронных денег", show_wallet_path, class: 'individual btn btn-primary navbar-btn' %><br>
  <%= link_to "Продажа электронных денег", show_wallet_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Перевод электронных денег", show_transfers_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Мои платежные системы", show_wallet_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Оплата", show_payments_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "История платежей", show_wallet_path, class: 'individual btn btn-primary navbar-btn' %> <br>
</div>