<div class="row max-width">
	<div class="col-md-4">
		<%= link_to '#' do %>
			<%= image_tag 'beeline.png', { class: 'service-url-img', 'data-toggle' => "modal", 'data-target' => "#myModal"} %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= link_to '#' do %>
			<%= image_tag 'megacom.png', { class: 'service-url-img', 'data-toggle' => "modal", 'data-target' => "#myModal"} %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= link_to '#' do %>
			<%= image_tag 'nurtelecom1.png', { class: 'service-url-img', 'data-toggle' => "modal", 'data-target' => "#myModal"} %>
		<% end %>
	</div>
</div>
<div class="row">
	<%= render 'individuals/payment/reports' %>
</div>