<div class="individual-sidebar">
  <%= link_to "Покупка электронных денег", individual_cabinet_path, class: 'individual btn btn-primary navbar-btn' %><br>
  <%= link_to "Продажа электронных денег", individual_cabinet_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Перевод электронных денег", individual_cabinet_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Мои платежные системы", individual_cabinet_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Оплата", individual_payment_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "История платежей", individual_cabinet_path, class: 'individual btn btn-primary navbar-btn' %> <br>
</div>