<div class="individual-sidebar">
  <%= link_to "Покупка электронных денег", root_path, class: 'individual btn btn-primary navbar-btn' %><br>
  <%= link_to "Продажа электронных денег", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Перевод электронных денег", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Мои платежные системы", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Оплата", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "История платежей", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
</div>