<h4> <%= @message %> </h4>
<%= form_tag(confirm_otp_path, method: 'post', remote: true) do  %>
  <p id = "time"></p>
  <p id = "rezult"></p>
  <p> Осталось попыток <%= 5-@try_counts %></p>
  
  <%= text_field_tag :pin, 'otp_confirmation_text_field', placeholder: "Введите код", class: "form-control" %>
  <%= hidden_field_tag :mobile, @mobile  %>
  <input type="button" id="bot" name="otp" onclick="get_otp_again()" value="Получить ОТП повторно" class="registration_form_btn" >
  <%= submit_tag "Подтвердить", name: 'confirm', class: 'registration_form_btn' %>
<%end%>

<script type="text/javascript">
  function get_otp_again() {
    var mob = document.getElementById("client_client_mobile").value;
    $.ajax({
      type: 'get',
      url: "/otp_test",
      data: {mobile: mob},
      response: 'text',
      success: function(){
            testTimer (10);
           },
      error: function () {
        alert('Ошибка отправки');
      }
    });
  }

</script>