<!DOCTYPE html>
<html>
  <head>
    <title>OpenWallet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="balance">
      <%= render 'shared/current_balance' %>
    </div>
    

    <div class="container">
      <div class="col-md-3">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
      
    </div>
  </body>
</html>
